<a href="https://colab.research.google.com/github/YangJeongA/Language-Brain-Computer-2022spring/blob/main/16_list_comprehension.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#리스트 내장 list comprehension
- 코드라인수 절약 가능, 변수 줄일 수 있음 -> 속도 빨라짐
- list comprehension 내에는 치환문 사용 불가능

In [1]:
[k * k for k in range(10)]

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [2]:
L = []
for k in range(10):
  L.append(k * k)
L

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [3]:
[k * k for k in range(10) if k % 2 == 1]

# if는 한 번만 사용 가능

[1, 9, 25, 49, 81]

In [4]:
[(x, y) for x in range(1, 5) for y in 'abc']

# for 뒤에 for 한번 더 사용 가능

[(1, 'a'),
 (1, 'b'),
 (1, 'c'),
 (2, 'a'),
 (2, 'b'),
 (2, 'c'),
 (3, 'a'),
 (3, 'b'),
 (3, 'c'),
 (4, 'a'),
 (4, 'b'),
 (4, 'c')]

# 사용 형식

In [21]:
# 사용 형식

[출력식 for 변수명1 in 객체1 (if조건식1)
        for 변수명2 in 객체2 (if조건식2)
        ...
        for 변수명n in 객체n (if조건식n)]


# 출력식은 한번만 사용가능
# if를 쓴다면 for구문 하나당 한개만 사용가능

In [22]:
[k*k for k in range(10)]

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [23]:
[(x, y) for x in range(1, 5) if x % 2 == 1 for y in 'abc']

[(1, 'a'), (1, 'b'), (1, 'c'), (3, 'a'), (3, 'b'), (3, 'c')]

In [24]:
[(x, y) for x in range(1, 5) for y in 'abc' if x % 2 == 1]

[(1, 'a'), (1, 'b'), (1, 'c'), (3, 'a'), (3, 'b'), (3, 'c')]

In [25]:
[(x, y) for x in range(1, 5) for y in 'abc' if 'b' in y]

[(1, 'b'), (2, 'b'), (3, 'b'), (4, 'b')]

In [26]:
[(x, y) for x in range(1, 5) if x % 2 ==1 for y in 'abc' if 'b' in y]

[(1, 'b'), (3, 'b')]

In [27]:
# for구문과 if구문의 순서 중요

[(x, y) for x in range(1, 5) if 'b' in y for y in 'abc' ]

UnboundLocalError: ignored

In [28]:
# for 앞에 if 선행 불가능

[(x, y) if x % 2 == 1 for x in range(1, 5)]

SyntaxError: ignored

# 리스트 내장에서 출력식 조건

In [29]:
[print(k * k) for k in range(10)]

0
1
4
9
16
25
36
49
64
81

[None, None, None, None, None, None, None, None, None, None]

####1

In [30]:
a = []
[a.append(k*k) for k in range(10)]


# append 값은 선행하는 변수에 출력되기 때문

[None, None, None, None, None, None, None, None, None, None]

In [31]:
a

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [32]:
a = print(3)

3

In [33]:
a

In [34]:
a = []
b = a.append(3)
b

# 여기에서 b는 nonetype값을 할당받는 것이랑 같음

###return

In [35]:
def square(x):
  return x * x
[square(k) for k in range(10)]

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [36]:
def square(x):
  x * x
[square(k) for k in range(10)]

# return이 없으므로 None 값 출력

[None, None, None, None, None, None, None, None, None, None]

In [37]:
def square(x):
  return x * x
square(3)

9

In [38]:
def square(x):
  x * x
square(3)

In [39]:
def square(x):
  print(x * x)
square(3)

9

list comprehension을 사용할 때는 값이 output cell에 출력되는지를 항상 주의해야 함

#lambda함수
(시험은 x)

In [40]:
lambda x: float(x)

# lambda함수 코드를 메모리에 저장

In [41]:
(lambda x: float(x))(3)

# lambda함수 실행

3.0

In [42]:
a = lambda x: float(x)

In [43]:
a

In [44]:
a(3)

3.0

In [45]:
[(lambda x: float(x))(x) for x in range(10)]

[0.0, 1.0, 2.0, 3.0, 4.0, 5.0, 6.0, 7.0, 8.0, 9.0]

# if else
- if else 함수라고 생각하면 됨 -> output cell에 출력 o
- if구문 아님!
- list comprehension에서 적절히 사용하면 if구문의 한계 극복 가능

In [46]:
[x * x if % 2 == 1 for x in range(1, 5)]

# for앞에 if 사용 불가능

SyntaxError: ignored

In [47]:
[x * x if x % 2 == 1 else x for x in range(1, 5)]

[1, 2, 9, 4]

In [48]:
[x[:-3] if x.endswith('ing') else x for x in ['going', 'went', 'doing', 'did']]

['go', 'went', 'do', 'did']

In [49]:
[x[:-1] if x.endswith('s') else x[:-2] if x.endswith('ed') else x for x in ['walks', 'walked', 'walk']]

['walk', 'walk', 'walk']

# 연습문제

In [50]:
#1

a = [2.4, 2, 4.5, 6.7, 9, 11]
b = [float(i) if type(i) == int else int(i) for i in a]
b

[2, 2.0, 4, 6, 9.0, 11.0]

# 중첩(nested) 리스트 내장
- 중첩리스트를 list comprehension을 통해 처리

In [51]:
a = [[1, 2, 3], list('abc')]

In [52]:
a

# 2차원의 데이터구조

[[1, 2, 3], ['a', 'b', 'c']]

In [53]:
[y for x in a for y in x]

# 출력값 1차원의 데이터구조 -> 2차원의 데이터구조인 a를 1차원의 데이터 구조로 만든 예시 
# 내장되어있는 2개의 리스트를 분해해서 인출하기 위해서는 for구문 2개 필요

[1, 2, 3, 'a', 'b', 'c']

In [54]:
[[x, y] for x in [1, 2, 3] for y in 'abc']

# 1차원의 데이터 구조에서 2차원의 데이터 구조를 생성한 예시

[[1, 'a'],
 [1, 'b'],
 [1, 'c'],
 [2, 'a'],
 [2, 'b'],
 [2, 'c'],
 [3, 'a'],
 [3, 'b'],
 [3, 'c']]

In [55]:
[[y for y in x] for x in ['abc', 'def', 'ghi']]

[['a', 'b', 'c'], ['d', 'e', 'f'], ['g', 'h', 'i']]

# 데이터 구조와 내장

- 문자열을 제외한 대부분의 데이터 구조에는 comprehension 기법 사용 가능

In [56]:
(i for i in range(5))

# generator

In [57]:
tuple(i for i in range(5))

# tuple

(0, 1, 2, 3, 4)

In [58]:
{i for i in range(5)}

# set

{0, 1, 2, 3, 4}

In [59]:
{i: i * i for i in range(5)}

# dictionary

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16}