<a href="https://colab.research.google.com/github/YangJeongA/Language-Brain-Computer-2022spring/blob/main/3_%EC%A0%9C%EC%96%B4%EB%AC%B8.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 제어문

1) 조건(해당 조건에 부합하면 코드 실행): if, while

2) 반복(반복적으로 어떤 명령문을 실행): for, while

# 제어문: if
: 어떤 조건에 부합하면 if 구문 안의 명령 코드를 실행하고, 부합하지 않으면 실행하지 말라고 코드의 흐름을 제어하는 구문

In [ ]:
if 조건식:
  명령문
elif 조건식2:
  명령문
elif 조건식3:
  명령문
   ...

else:
  명령문


# 조건식에는 True/False가 출력되는 코드를 입력해주는 것이 원칙
# else 옆에는 조건식 써주지 않음

In [1]:
score = 95

if score >= 90:
  print('축하합니다')
else:
  print('다음 기회에')

축하합니다

In [2]:
score = 80

if score >= 90:
  print('축하합니다')
else:
  print('다음 기회에')

다음 기회에

- if는 반드시 있어야 하지만, elif나 else는 있어도 되고 없어도 됨

In [3]:
score = 95

if score >= 90:
  print('축하합니다')

축하합니다

In [4]:
score = 80

if score >= 90:
  print('축하합니다')

In [5]:
score = 80

if score >= 90:
  print('축하합니다')
elif score < 90 and score >= 80:
  print('다음 기회에')

다음 기회에

In [6]:
score = 45

if score >= 90:
  print('A학점')
elif score >= 80:
  print('B학점')
elif score >= 70:
  print('C학점')
elif score >= 60:
  print('D학점')
else:
  print('F학점')

F학점

* 중첩 if문

In [7]:
score = 80

if score >= 80:
  if score >= 90:
    print('축하합니다')
  else:
    print('더 노력을!')

더 노력을!

In [8]:
score = 95

if score >= 80:
  if score >= 90:
    if score >= 95:
      print('아주 훌륭하네요!')
    else:
      print('더 노력을!')

아주 훌륭하네요!

# 조건식의 자격

- 조건식: True 또는 False가 출력되는 코드
- if나 elif 옆에는 조건식을 입력해야 하는데, True 또는 False를 직접 입력해도 됨

#### 1.

In [9]:
if True:
  print('성공')

# 무조건 실행됨

성공

In [10]:
if False:
  print('실패')

# 어떤 경우에도 실행x

In [11]:
if 1:
  print('성공')

# 1은 True로 인식됨

성공

In [12]:
if 0:
  print('실패')

# 0은 False로 인식됨

In [13]:
if 'a':
  print('성공')

# 조건식이 문자열 -> 문자열을 구성하는 문자가 하나 이상이라도 있으면 True로 처리됨

성공

In [14]:
if "":
  print('실패')

# 빈 문자열인 경우 -> False로 인식

In [15]:
if ['']:
  print('성공')

# 리스트의 원소가 하나라도 있으면 -> True

성공

In [16]:
if []:
  print('실패')

# 리스트의 원소가 하나도 없으면 -> False

- python에서는 어떤 데이터 구조가 빈 데이터 구조이면 False로 처리됨. 그러나 데이터 구조에 원소가 하나 이상 있으면 True로 처리됨

#### 2.

In [17]:
a = 10
b = 20

In [18]:
a != 10

False

In [19]:
a == b

False

In [20]:
a < b

True

In [21]:
a==b or a!=b

True

In [22]:
if a > b:
  print('a는 b보다 크다')
else:
  print('a는 b보다 같거나 작다')

a는 b보다 같거나 작다

In [23]:
if not a == b:
  print('a==b', '는 거짓이다')

a==b 는 거짓이다

# pass

- 아무것도 하지 않고 싶을 때 사용 -> 아무 일도 일어나지 않고 다음 코드로 넘어감
- 실행할 코드가 없다는 것을 의미함

In [24]:
a = 'apple'

if a == 'apple':
  pass
else:
  print('banana')

In [25]:
a = 'apple'

if a != 'apple':
  pass
else:
  print('banana')

banana

#### 예시

#### 1)

In [26]:
a = 0
while a < 10:
  a += 1
  if a== 10:
    print(a)

10

In [27]:
a = 0
while a < 10:
  a += 1
  if a == 10:
    pass
  print(a)

1
2
3
4
5
6
7
8
9
10

#### 2)

In [28]:
a = 0
while a < 10:
  a += 1
  if a == 5:
    pass
  elif a == 7:
    pass
  else:
    print(a)

1
2
3
4
6
8
9
10

In [29]:
a = 0
while a < 10:
  a += 1
  if a ==5 or a == 7:
    continue
  print(a)

1
2
3
4
6
8
9
10

In [30]:
a = 0
while a < 10:
  a += 1
  if a != 5 and a != 7:
    print(a)

1
2
3
4
6
8
9
10

#### 3)

In [31]:
a = ['a', 'b']
b = ['A', 'B']

In [32]:
for i in a:
  for j in b:
    if j == 'A':
      pass
    print(j)
  print(i+j)

A
B
aB
A
B
bB

In [33]:
for i in a:
  for j in b:
    if j == 'A':
      continue
    print(j)
  print(i+j)

B
aB
B
bB

# 제어문: for문
- 반복구문
- 변수명을 이용해서 데이터구조 내의 원소를 왼쪽에서부터 오른쪽으로 하나씩 인출하며 명령문을 반복함

In [35]:
for 변수명 in 데이터구조:
  명령문


# '데이터구조'에는 모든 것이 올 수 있음 -> 리스트, 문자열, 튜플 등등

In [36]:
a = ['cat', 'cow', 'tiger']

for x in a:
  print(x, '\t', len(x))

cat 	 3
cow 	 3
tiger 	 5

In [37]:
a = ['cat', 'cow', 'tiger']

for x in a:
  if len(x) == 3:
    print(x)

cat
cow

* for 구문 사용시 고려할 점
  - 내가 원하는 결과를 도출하기 위해 변수가 몇개 필요한지
  - for 구문에서는 in 다음에는 이미 갖고 있는 데이터 구조가 있어야 함 (in 다음에 사용할 변수(데이터구조)가 없으면 for 구문 사용 불가능)

In [38]:
a = 0
b = [1, 2, 3, 4, 5]

for x in b:
  a += x
  print(x, a)


# 변수 a -> 우리가 여기서 for 구문을 쓰는 이유는 리스트 b의 합산 값을 구하기 위함임. 따라서 이 '합'(구하고자 하는 값)을 저장할 변수 필요

1 1
2 3
3 6
4 10
5 15

In [39]:
x = ''
y = ['나는', '학교에', '간다']

for z in y:
  x += z
print(z, x)

간다 나는학교에간다

In [40]:
a = 0
b = [1, 2, 3, 4, 5]

for x in b:
  a += x
  if x % 2 == 0:
    print(x, a)

2 3
4 10

# 제어문: while문

- for 구문과 if 구문이 합쳐진 형태

In [42]:
while 조건:
  명령문
else:
  명령문


# '조건'의 결과가 True이면 while에 해당하는 명령문 실행, False이면 else로 넘어감

In [43]:
a = 0
while a < 10:
  a += 1
  print(a)

1
2
3
4
5
6
7
8
9
10

In [44]:
a = 0
while a < 10:
  a += 1
print(a)

10

# break, continue

- break, continue는 for구문, while구문 등의 반복구문 내에서 if구문과 함께 많이 사용됨
- break: 구문 종료
- continue: 다음 코드로 넘어가지 않고 처음으로 올라가서 반복구문 실행

In [45]:
a = 0
while a < 10:
  a = a + 1
  if a == 10: break
  if a % 2 == 0: continue
  print(a)

1
3
5
7
9

In [46]:
a = 0
b = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
for x in b:
  a += x
  if x == 10: break
  if x % 2 == 0: continue
  print(x, a)

1 1
3 6
5 15
7 28
9 45

#### 예시

In [47]:
a = ['a', 'b']
b = ['A', 'B']

In [48]:
for i in a:
  for j in b:
    print(j)
  print(i+j)

A
B
aB
A
B
bB

In [49]:
for i in a:
  for j in b:
    if j == 'A':
      break
    print(j) 
  print(i+j)


# j == A 이면 for j in b 구문이 종료됨 (for i in a 구문만 그대로 실행됨)

aA
bA

In [50]:
for i in a:
  for j in b:
    if j == 'A':
      continue
    print(j)
  print(i+j)

B
aB
B
bB